.select {
    padding: 10px;
    background-color: var(--blue);
    border: none;
    border-radius: var(--border-radius);
    color: var(--text-color);
    font-size: var(--font-size);
}

.select:hover {
    background-color: var(--blue-hover);
}