.button {
	border-radius: var(--border-radius);
	padding: 8px 30px;
	font-size: 16px;
	font-family: inherit;
	cursor: pointer;
	transition: background-color 0.25s;
	border: none;

	color: white;
}

.accent:hover {
	background: var(--blue-hover);
}

.accent {
	background: var(--blue);
}