:root {
  --text-color: #ffffffde;
  --label-color: #c2c2c2de;
  --background-color: #181818;
  --button-bg: #13387e;
  --blue: #1c5edb;
  --blue-hover: #3976eb;
  --border-radius: 5px;
  --font-size: 16px;


  font-family: 'Source Sans 3', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {}
